*~
*.o
*.obj
*.pp
*.elf
*.exe
*.bin
*.out
*.la
*.a
*.so
*.objmap
*.pyc
TAGS
autom4te.cache/
*.lo
.deps/
.libs/
config.status
*.swp
*.swo
*.swn
dist/
build/
/extra/repo
/test/objs
.DS_Store/
.metadata/
*_flymake*
/doc/doxygen
/Versions
\#*\#
.\#*
/release/
# generated:
/groundclient/groundclient/command_definitions.py
/canopus-*.tar.bz2
command_console.log
cubebug_debug_stream.log
Debug/
# eclipse projects...
.pydevproject
.photranproject
*.patch
*.symtab
